.Poll {
    margin: 10% 5%;
    width: 80%;
    align-items: center;
    text-align: center;
}

.Typography {
    margin-bottom: 5%;
}

@media (min-width: 815px) {
    .Poll {
        margin: 0 5%;
        width: 50%;
        float: left;
    }
}