.Poll {
    margin: 10% 5%;
    width: 80%;
    align-items: center;
    text-align: center;
    animation: pollShown 0.4s ease-out forwards;
}

.Typography {
    margin-bottom: 5%;
}

@media (min-width: 815px) {
    .Poll {
        margin: 0 5%;
        width: 50%;
        float: left;
    }
}

@keyframes pollShown {
    0% {
        opacity: 0.4;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
