.Charts {
    margin: 0 5%;
    width: 80%;
    align-items: center;
    text-align: center;
    animation: statsComponentShown 2s ease-out forwards;
}

.Chart {
    height: 35%;
    margin-top: 10%;
    animation: statsShown 2s ease-out forwards;
}

.Typography {
    margin-bottom: 5%;
}

.HideLabelsArray {
    visibility: hidden;
}

.Button {
    margin-top: 5%;
    margin-left: 10%;
}

@keyframes statsComponentShown {
    0% {
        opacity: 0.2;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes statsShown {
    0% {
        opacity: 0.2;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}